body{
    background-color: #FFFFFF;
    color:  #757575;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

ul {
    list-style: none
}


/* logo */
.logo {
    color: #212121;
    font-family:  Raleway, cursive;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.logo-title{
    color: #2196F3;;
}

/* site-nav */
 
.site-nav :focus {
    color: #2196F3;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    }

.link-nav :hover {
    text-decoration: none;  
}


/* .contacts-link */

.link {
    color: #757575;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

}
.link:hover {
    color: #2196F3;
}

.adress{
    color: #212121;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
}


/* button-link */


.button-link {
color: #212121;

display: inline-block;
font-weight: 500;
font-size: 16px;
line-height: 1.62;

}

.button-link :focus {
    color: #FFFFFF;
    background-color: #2196F3;
   

   
    
}

.button-link :hover {
color: #FFFFFF;
cursor: pointer;


}


.btn-link {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    
}

.btn:active {
    color: #FFFFFF;

}
		
   
	













/* hero */
.hero-title {
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

/* feature-list */
.feature-title{
    color: #212121;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.feature-text {
    color:#757575;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* Main-title */
.main-title{
    color: #212121;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.people-title{
    color: #212121;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}

.job-title-text{
    color: #757575;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}


/* poster-list */
.poster-title{
    color: #212121;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.poster-text{
    color: #757575;
    font-size: 16px;
    line-height: 1.87;
}